body {
  background-color: hsl(30, 38%, 92%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.image-product {
  position: relative;
  left: -20px;
  width: 300px;
  height: 450px;
  border-radius: 2%;
}
.box {
  position: relative;
  background-color: #ffff;
  width: 40%;
  left: 30%;
  margin-top: 10%;
  border-radius: 2%;
}
p {
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: hsl(229, 25%, 31%);
}
.perfume {
  margin: 10% 65% 4% 0%;
  color: hsl(228, 12%, 48%);
}
.name {
  font-family: "Fraunces", sans-serif;
  width: 70%;
  font-weight: 700;
  margin-bottom: 6%;
}
.perfume-des {
  text-align: left;
  width: 80%;
  color: hsl(228, 12%, 48%);
}
.price {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: green;
}
.price-discount {
  font-size: 12px;
  text-decoration: line-through;
}
.cart-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 20px;
  width: 85%;
  height: 10%;
  border: none;
  border-radius: 12px;
  color: #ffff;
  background-color: green;
}
